{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": 6,
                    "android": 4,
                    "ios": 8
                }
            }
        ]
    ]
}
